<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title threejs-shader 测试
    body
        canvas#canvas(width="700px" height="700px")
        script(src="./index.js")
    
